modulo_1/projeto_enade/enade2019
*.insyncdl
modulo_1/projeto_twitter/collected_tweets*
modulo_1/projeto_twitter/tweet.json
*.ipynb_checkpoints/
modulo_1/projeto_enem/enem2019/
*vaccess*.txt
modulo_1/projeto_twitter/.ipynb_checkpoints/*
modulo_1/projeto_twitter/.ipynb_checkpoints/extract_analyze_tweets-checkpoint.ipynb
*solution.ipynb
.gitignore
