Projeto_Enade/enade2019
Projeto_twitter/vaccess_keys.txt
*.insyncdl
Projeto_twitter/collected_tweets*
ts/collected_tweets*
Projeto_twitter/tweet.json
Projeto_twitter/.ipynb_checkpoints/
Projeto_twitter/.ipynb_checkpoints/extract_analyze_tweets-checkpoint.ipynb
